.DeviceGroup {
    .FontAwesomeIcon{
        margin-right : 15px;
        margin-left : 10px;
        cursor: pointer;
    }
    
    .DeviceGroupDiv{
        background-color: navy; 
        color: white;
    }
}